{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/css/edit_artwork.css' %}">
{% endblock %}

{% block content %}
<div class="edit-artwork-container">
    <h2>Редактирование "{{ artwork.title }}"</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">💾 Сохранить</button>
    </form>
    <a href="{% url 'users:artwork_detail' artwork.id %}">Отмена</a>
</div>
{% endblock %}