{% extends "base.html" %}
{% load static %}

{% block title %}Добро пожаловать!{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/css/register.css' %}">
{% endblock %}

{% block content %}
    <div class="welcome-container">
        <h1>Добро пожаловать!</h1>
        <p class="success-message">Ваш аккаунт успешно создан.</p>
        <p>Теперь вы можете <a href="{% url 'users:login' %}" class="login-link">войти в систему</a> и начать пользоваться платформой.</p>
    </div>
{% endblock %}
