body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding-top: 60px;
    background-color: #0d0d0d;
    background-image: url('universe_background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
}

#header {
    position: fixed;
    top: 0;
    font-size: 24px;
    background: #1a1a1a;
    color: #fff;
    left: 0;
    width: 98%;
    padding: 15px 20px;
    font-weight: bold;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #a100ff;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.menu a {
    color: #a100ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding-right: 20px;
}

.menu a:hover {
    color: #e600ff;
    text-shadow: 0 0 8px #e600ff;
}

.user a {
    color: #a100ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.user:hover {
    color: #e600ff;
    text-shadow: 0 0 8px #e600ff;
}

.btn {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s, box-shadow 0.3s;
}
